body {
  margin: 0;
  padding: 0;
  width: 100%;
}






/*icons*/
.material-symbols-rounded {
 color: black;
}

.icon-drone{
    height: 120px;
}


/*nav bar*/
.nav-menu{
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;

}

.nav-menu li {
  margin:15px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.nav-menu a {
    color: white;
    text-decoration: none;
  }


/*.nav-menu li:first-child {
  margin-right: auto;
  padding-left: 100px;
}
*/

/*content on background*/
.mainbox{
    height: 600px;
    background-image:url('images/pexels-tom-nagel-3878604\ \(2\).jpg');
    background-size: cover;
    background-position: center;
}


.main-box-1 p {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}




/*section two*/

.mainbox-2 {
  max-width: 100%;
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
}
.left-side {
  float: left;
  width: 20%;
  align-items: center;
  background-color:rgb(216, 208, 208);
}
.right-side {
  float: right;
  width: 70%;
  background-color:rgb(245, 241, 241);
  align-items: center;
}


.sort-show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

/*aligning some stuff*/
.cartitems{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Price-Range-Slider{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-categories{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-products{
  margin-top: 3%;
  margin-left: 3%;

}

/*img */
.drone-img{
  max-width:55%;
}




/*sort bar design*/
.sort-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 3%;
  margin-right: 3%;
}

.sort-bar span {
  margin-right: 10px;
}

.sort-bar select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  cursor: pointer;
}

.sort-bar select:focus {
  outline: none;
}




/*grid for the products*/
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px; /* Add gap between items */
  margin:5%;
}

/* .drone-item {
  Add any additional styling you want for the items 
}*/


/*rating bar design*/
.rating-bar {
  display: inline-block;
  font-size: 24px;
  color: #ccc;
}

.rating-bar .star {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.rating-bar .star:hover,
.rating-bar .star.selected {
  color: #00bfff;
}
  
.rating-bar .star:nth-child(-n+3) {
  color: #00bfff;
}

/*add to cart button design*/

.add-to-cart-btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  background-color: black;
  color: white;
}


/*left side section*/
.left-side{
  display: flex;
  flex-direction: column;
}


/*filter bar for the price ranging*/


.min-max-slide{
  display: flex;
  gap: 3%;
}

.range-slider {
  width: 60%;
  position: relative;
  margin: 15px 0 30px 0;
}

input[type=range] {
  width: 100%;
  background: transparent; 
  position: absolute;
  left: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #36b37e;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}





/* Footer styles */

.footer{
  background-color: black;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-family:'Segoe UI', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(16, 129, 205);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
}
.footer-col .social a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.row{
  display: flex;
  flex-wrap: wrap
}

.fcontainer{
  max-width: 1170px;
  margin: auto;
}
.footerList{
  list-style: none;
}

/*Responsive Footer*/
@media(max-width: 767px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
      width: 100%;
  }
}

.subscribe-section {
background-color: black;
color: #fff;
padding: 10px;
text-align: center;
}

.subscribe-section h2 {
margin-bottom: 20px;
font-size: 18px;
}

.subscribe-section p {
margin-bottom: 20px;
}

form {
display: flex;
justify-content: center;
align-items: center;
}

input[type="email"] {
padding: 10px;
width: 250px;
border: none;
border-radius: 5px 0 0 115px;
}

button {
background-color: #fff;
color: #333;
border: none;
padding: 10px 20px;
border-radius: 0 5px 115px 0;
cursor: pointer;
}

button:hover {
background-color: #ddd;
}